@import "@repo/ui/src/index.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#root {
  width: 100vw;
  height: 100vh;
}

@font-face {
  font-family: "Jost";
  src: url("/fonts/Jost-VariableFont_wght.ttf");
}

* {
  font-family: "Jost", sans-serif;
}

:root {
  --ck-border-radius: calc(var(--radius) - 2px) !important;
}

.ck-content h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 1em 0;
}

.ck-content h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.83em 0;
}

.ck-content h3 {
  font-size: 1.17em;
  font-weight: bold;
  margin: 0.67em 0;
}

.ck-content ul,
.ck-content ol {
  list-style: revert;
  margin: revert;
  padding: revert;
}

.ck.ck-content.ck-editor__editable {
  min-height: 300px;
  max-height: 500px;
  border: 1px solid hsl(var(--border));
  border-bottom-left-radius: var(--ck-border-radius) !important;
  border-bottom-right-radius: var(--ck-border-radius) !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.ck.ck-toolbar.ck-rounded-corners {
  border-top-left-radius: var(--ck-border-radius) !important;
  border-top-right-radius: var(--ck-border-radius) !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
