@import "@repo/ui/src/index.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#root {
  width: 100vw;
  min-width: 1140px;
}

@font-face {
  font-family: "Jost";
  src: url("/fonts/Jost-VariableFont_wght.ttf");
}

* {
  font-family: "Jost", sans-serif;
}
