@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&display=swap");
@import "@repo/ui/src/index.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#root {
  width: 100%;
  min-width: 1140px;
}

@font-face {
  font-family: "Jost";
  src: url("/fonts/Jost-VariableFont_wght.ttf");
}

* {
  font-family: "Jost", sans-serif;
}
